@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');
:root {
	--main-color: #1f2937;
	--blue: #3882f6;
	--font: "Roboto";
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
/* Globals */
html {
	font-size: 62.5%;
}
body {
	height: 100%;
	background-color: var(--main-color);
	font-family: var(--font);
	font-size: 1.6rem;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-align: center;
	color: #fff;
	font-family: var(--font);
	overflow-wrap: break-word;
}
h1 {
	font-size: 4rem;
}
h2 {
	font-size: 3.2rem;
}
h3 {
	font-size: 2.4rem;
}
a {
	text-decoration: none;
}
p {
	font-size: 1.8rem;
	color: var(--main-color);
	overflow-wrap: break-word;
}
.center {
	text-align: center;
}

.container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.white-calculator {
	background-color: white;
	height: 60vh;
	width: 80%;
	border:var(--blue) solid .4rem;
	border-radius: 1rem;
}
@media (width > 480px ) {
	.white-calculator {
		width: 60%;
	}
}
@media (width > 768px ) {
	.white-calculator {
		width: 30%;
	}
}
@media (width > 1200px ) {
	.white-calculator {
		width: 20%;
	}
}

.screen-numbers{
	width: 100%;
	border: none;
	text-align: right;
	border-radius: 1rem;
}
.screen-numbers.help{
	height: 7%;
	font-size: 1.6rem;
	color: var(--main-color);
}
.screen-numbers.result{
	height: 13%;
	font-size: 4.8rem;
	color: var(--main-color);
	font-weight: bold;
}

.buttons-area{
	height: 80%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: .5fr repeat(4, 1fr);
	gap: .2rem;
}

button {
	background-color: #fff;
	font-size: 2.5rem;
	border-radius: 0.5rem;
	border: thin #1f2937 0.01rem;
}

.result-button{
	background-color: var(--blue);
}